.text-footer {
	text-align: center !important;
	color: #f2f2f2;
}

.active1 {
	background-color: #4d0000; 
}

.margin-bottom {
	margin-bottom: 1%;
}

.nav-hover:hover {
	background-color: #4d0000; 
}

.page-template {
	  font-family: "DejaVu Sans", "Arial", sans-serif;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
}

.page-template .header {
	  position: absolute;
	  top: 30px;
	  left: 30px;
	  right: 30px;
	  border-bottom: 1px solid #888;
	  color: #888;
}

.page-template .footer1 {
	  position: absolute;
	  bottom: 30px;
	  left: 30px;
	  right: 30px;
	  border-top: 1px solid #888;
	  text-align: center;
	  color: #888;
}

.page-template .watermark {
	  font-weight: bold;
	  font-size: 400%;
	  text-align: center;
	  margin-top: 30%;
	  color: #aaaaaa;
	  opacity: 0.1;
	  transform: rotate(-35deg) scale(1.7, 1.5);
}

#details-container {
    padding: 10px;
}

#details-container h2 {
    margin: 0;
}

#details-container em {
    color: #8c8c8c;
}

#details-container dt {
    margin:0;
    display: inline;
}

.margin-left {
	margin-left: 1%;
}

#kpivotgrid {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

#kpivotconfigurator {
    display: inline-block;
    vertical-align: top;
}

#exportExcelPGrid {
    margin: 0 0 10px 1px;
}

#exportPdfPGrid {
    margin: 0 0 10px 1px;
}